@import "../../assets/fz.less";

.details {
  .details-explainRow {
    .explainRowPrice {
      height: 12vw;
      line-height: 12vw;
      letter-spacing: 2px;
    }

    .explainRowTitle {}

    .explainRowFreightExplain {
      .fz(font-size, 24)
    }
  }

  .specificationRow {
    height: 10vw;
    line-height: 10vw;
    .fz(font-size, 28)
  }

  .detailsRow-specification {
    .specificationProductImg {
      img {
        width: 100px;
      }
    }

    .specificationProductText {
      .fz(font-size, 36)
    }
  }

  .auctionDetails {
    height: 14vw;
  }
}

.detail-content {
  .contentUrl {
    width: 100%;
  }
}

.detail-footer {
  height: 14vw;
  i {
    .fz(font-size, 40)
  }

  .foot-text {
    .fz(font-size, 24)
  }
}

.foot-left {
  line-height: 7vw;
}

.foot-right {
  line-height: 14vw;
}
