@import "../../assets/fz.less";

.user {
  .userHeader {
    .userHeadPortraitImg {
      position: relative;

      img {
        width: 100%;
      }

      .userAuthenticationImg {
        width: 20px;
        height: 20px;
        position: absolute;
        left: 44px;
        top: 24px;

        img {
          width: 100%;
        }
      }
    }

    .signIn {
      margin-top: 4vw;
    }

    .signInBorderR12 {
      border-top-left-radius: 2em;
      border-top-right-radius: 0em;
      border-bottom-right-radius: 0em;
      border-bottom-left-radius: 2em;
    }

    .userName {}
  }
}

.userSignInInfo {
  position: relative;

  .userSignInInfoBgImg {
    img {
      width: 100%;
    }
  }

  .userSignInInfoDays {
    width: 100%;
    height: 80px;
    line-height: 80px;
    position: absolute;
    top: 20%;

    .signIn {
      .fz(font-size, 40);
    }

    .signInInfoDaysBg {
      .fz(font-size, 72);
      padding: 8px 10px;
      background-image: url('../../../static/testImg/qiandaobtn.png');
      background-size: 100%;
      background-repeat: no-repeat;
    }

    .integralTotalAmount {
      padding: 12px 24px;
      border-radius: 20px;
    }
  }

  .signDesk {
    .signDeskRow {
      position: inherit;
      top: -12vw;
      border-radius: 8px;
    }

    .continuousSignInDays {
      .fz(font-size, 40);

    }

    .SignInIntegralDescription {
      .fz(font-size, 28);
    }
  }

}

.userVip {
  .userVipRow {
    img {
      width: 100%;
    }
  }

  .userVipBtnRow {
    position: absolute;
    top: -36vw;

    .userVipTitle {
      .fz(font-size, 36);
    }

    .userVipDay {
      .fz(font-size, 28);
    }

    .userVipExplain {
      .fz(font-size, 24);
    }
  }
}
