@import "../../assets/fz.less";

.user {
  .userHeader {
    .userHeadPortraitImg {
      position: relative;

      img {
        width: 100%;
      }

      .userAuthenticationImg {
        width: 20px;
        height: 20px;
        position: absolute;
        left: 44px;
        top: 24px;

        img {
          width: 100%;
        }
      }
    }

    .signIn {
        margin-top: 4vw;
    }

    .signInBorderR12 {
        border-top-left-radius: 2em;
        border-top-right-radius: 0em;
        border-bottom-right-radius: 0em;
        border-bottom-left-radius: 2em;
    }

    .userName {

    }
  }
}
