.user .userHeader .userHeadPortraitImg {
  position: relative;
}
.user .userHeader .userHeadPortraitImg img {
  width: 100%;
}
.user .userHeader .userHeadPortraitImg .userAuthenticationImg {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 44px;
  top: 24px;
}
.user .userHeader .userHeadPortraitImg .userAuthenticationImg img {
  width: 100%;
}
.user .userHeader .signIn {
  margin-top: 4vw;
}
.user .userHeader .signInBorderR12 {
  border-top-left-radius: 2em;
  border-top-right-radius: 0em;
  border-bottom-right-radius: 0em;
  border-bottom-left-radius: 2em;
}
.userSignInInfo {
  position: relative;
}
.userSignInInfo .userSignInInfoBgImg img {
  width: 100%;
}
.userSignInInfo .userSignInInfoDays {
  width: 100%;
  height: 80px;
  line-height: 80px;
  position: absolute;
  top: 20%;
}
.userSignInInfo .userSignInInfoDays .signIn {
  font-size: 20px;
}
[data-dpr="2"] .userSignInInfo .userSignInInfoDays .signIn {
  font-size: 40px;
}
[data-dpr="2.5"] .userSignInInfo .userSignInInfoDays .signIn {
  font-size: 50px;
}
[data-dpr="2.75"] .userSignInInfo .userSignInInfoDays .signIn {
  font-size: 55px;
}
[data-dpr="3"] .userSignInInfo .userSignInInfoDays .signIn {
  font-size: 60px;
}
[data-dpr="4"] .userSignInInfo .userSignInInfoDays .signIn {
  font-size: 80px;
}
.userSignInInfo .userSignInInfoDays .signInInfoDaysBg {
  font-size: 36px;
  padding: 8px 10px;
  background-image: url('../../../static/testImg/qiandaobtn.png');
  background-size: 100%;
  background-repeat: no-repeat;
}
[data-dpr="2"] .userSignInInfo .userSignInInfoDays .signInInfoDaysBg {
  font-size: 72px;
}
[data-dpr="2.5"] .userSignInInfo .userSignInInfoDays .signInInfoDaysBg {
  font-size: 90px;
}
[data-dpr="2.75"] .userSignInInfo .userSignInInfoDays .signInInfoDaysBg {
  font-size: 99px;
}
[data-dpr="3"] .userSignInInfo .userSignInInfoDays .signInInfoDaysBg {
  font-size: 108px;
}
[data-dpr="4"] .userSignInInfo .userSignInInfoDays .signInInfoDaysBg {
  font-size: 144px;
}
.userSignInInfo .userSignInInfoDays .integralTotalAmount {
  padding: 12px 24px;
  border-radius: 20px;
}
.userSignInInfo .signDesk .signDeskRow {
  position: inherit;
  top: -12vw;
  border-radius: 8px;
}
.userSignInInfo .signDesk .continuousSignInDays {
  font-size: 20px;
}
[data-dpr="2"] .userSignInInfo .signDesk .continuousSignInDays {
  font-size: 40px;
}
[data-dpr="2.5"] .userSignInInfo .signDesk .continuousSignInDays {
  font-size: 50px;
}
[data-dpr="2.75"] .userSignInInfo .signDesk .continuousSignInDays {
  font-size: 55px;
}
[data-dpr="3"] .userSignInInfo .signDesk .continuousSignInDays {
  font-size: 60px;
}
[data-dpr="4"] .userSignInInfo .signDesk .continuousSignInDays {
  font-size: 80px;
}
.userSignInInfo .signDesk .SignInIntegralDescription {
  font-size: 14px;
}
[data-dpr="2"] .userSignInInfo .signDesk .SignInIntegralDescription {
  font-size: 28px;
}
[data-dpr="2.5"] .userSignInInfo .signDesk .SignInIntegralDescription {
  font-size: 35px;
}
[data-dpr="2.75"] .userSignInInfo .signDesk .SignInIntegralDescription {
  font-size: 39px;
}
[data-dpr="3"] .userSignInInfo .signDesk .SignInIntegralDescription {
  font-size: 42px;
}
[data-dpr="4"] .userSignInInfo .signDesk .SignInIntegralDescription {
  font-size: 56px;
}
.userVip .userVipRow img {
  width: 100%;
}
.userVip .userVipBtnRow {
  position: absolute;
  top: -36vw;
}
.userVip .userVipBtnRow .userVipTitle {
  font-size: 18px;
}
[data-dpr="2"] .userVip .userVipBtnRow .userVipTitle {
  font-size: 36px;
}
[data-dpr="2.5"] .userVip .userVipBtnRow .userVipTitle {
  font-size: 45px;
}
[data-dpr="2.75"] .userVip .userVipBtnRow .userVipTitle {
  font-size: 50px;
}
[data-dpr="3"] .userVip .userVipBtnRow .userVipTitle {
  font-size: 54px;
}
[data-dpr="4"] .userVip .userVipBtnRow .userVipTitle {
  font-size: 72px;
}
.userVip .userVipBtnRow .userVipDay {
  font-size: 14px;
}
[data-dpr="2"] .userVip .userVipBtnRow .userVipDay {
  font-size: 28px;
}
[data-dpr="2.5"] .userVip .userVipBtnRow .userVipDay {
  font-size: 35px;
}
[data-dpr="2.75"] .userVip .userVipBtnRow .userVipDay {
  font-size: 39px;
}
[data-dpr="3"] .userVip .userVipBtnRow .userVipDay {
  font-size: 42px;
}
[data-dpr="4"] .userVip .userVipBtnRow .userVipDay {
  font-size: 56px;
}
.userVip .userVipBtnRow .userVipExplain {
  font-size: 12px;
}
[data-dpr="2"] .userVip .userVipBtnRow .userVipExplain {
  font-size: 24px;
}
[data-dpr="2.5"] .userVip .userVipBtnRow .userVipExplain {
  font-size: 30px;
}
[data-dpr="2.75"] .userVip .userVipBtnRow .userVipExplain {
  font-size: 33px;
}
[data-dpr="3"] .userVip .userVipBtnRow .userVipExplain {
  font-size: 36px;
}
[data-dpr="4"] .userVip .userVipBtnRow .userVipExplain {
  font-size: 48px;
}
.userAllOrder .userAllOrderForm .tadsPage ul li {
  width: 20%;
  font-size: 14px;
}
[data-dpr="2"] .userAllOrder .userAllOrderForm .tadsPage ul li {
  font-size: 28px;
}
[data-dpr="2.5"] .userAllOrder .userAllOrderForm .tadsPage ul li {
  font-size: 35px;
}
[data-dpr="2.75"] .userAllOrder .userAllOrderForm .tadsPage ul li {
  font-size: 39px;
}
[data-dpr="3"] .userAllOrder .userAllOrderForm .tadsPage ul li {
  font-size: 42px;
}
[data-dpr="4"] .userAllOrder .userAllOrderForm .tadsPage ul li {
  font-size: 56px;
}
.userAllOrder .userAllOrderForm .tadsPage ul .activeLi {
  border-bottom: 2px solid #DAB62E;
}
.userAllOrder .userAllOrderFormListImg img {
  width: 100%;
  border-radius: 4px;
}
.userAllOrder .productTitle {
  font-size: 13px;
}
[data-dpr="2"] .userAllOrder .productTitle {
  font-size: 26px;
}
[data-dpr="2.5"] .userAllOrder .productTitle {
  font-size: 33px;
}
[data-dpr="2.75"] .userAllOrder .productTitle {
  font-size: 36px;
}
[data-dpr="3"] .userAllOrder .productTitle {
  font-size: 39px;
}
[data-dpr="4"] .userAllOrder .productTitle {
  font-size: 52px;
}
.userAllOrder .productSpecification {
  font-size: 13px;
}
[data-dpr="2"] .userAllOrder .productSpecification {
  font-size: 26px;
}
[data-dpr="2.5"] .userAllOrder .productSpecification {
  font-size: 33px;
}
[data-dpr="2.75"] .userAllOrder .productSpecification {
  font-size: 36px;
}
[data-dpr="3"] .userAllOrder .productSpecification {
  font-size: 39px;
}
[data-dpr="4"] .userAllOrder .productSpecification {
  font-size: 52px;
}
.userAllOrder .price {
  font-size: 13px;
}
[data-dpr="2"] .userAllOrder .price {
  font-size: 26px;
}
[data-dpr="2.5"] .userAllOrder .price {
  font-size: 33px;
}
[data-dpr="2.75"] .userAllOrder .price {
  font-size: 36px;
}
[data-dpr="3"] .userAllOrder .price {
  font-size: 39px;
}
[data-dpr="4"] .userAllOrder .price {
  font-size: 52px;
}
.userAllOrder .amount {
  font-size: 13px;
}
[data-dpr="2"] .userAllOrder .amount {
  font-size: 26px;
}
[data-dpr="2.5"] .userAllOrder .amount {
  font-size: 33px;
}
[data-dpr="2.75"] .userAllOrder .amount {
  font-size: 36px;
}
[data-dpr="3"] .userAllOrder .amount {
  font-size: 39px;
}
[data-dpr="4"] .userAllOrder .amount {
  font-size: 52px;
}
.userAllOrder .refundText {
  font-size: 11px;
}
[data-dpr="2"] .userAllOrder .refundText {
  font-size: 22px;
}
[data-dpr="2.5"] .userAllOrder .refundText {
  font-size: 28px;
}
[data-dpr="2.75"] .userAllOrder .refundText {
  font-size: 30px;
}
[data-dpr="3"] .userAllOrder .refundText {
  font-size: 33px;
}
[data-dpr="4"] .userAllOrder .refundText {
  font-size: 44px;
}
.userAllOrder .orderFormBtnRow .orderFormBtn .el-button.is-round {
  width: 82px;
  height: 24px;
  padding: 4px 8px;
}
.userOrderFormDetails .detailsHeaderBg .detailsHeader .detailsHeaderIcon {
  width: 20px;
  height: 20px;
}
.userOrderFormDetails .detailsHeaderBg .detailsHeader .detailsHeaderIcon img {
  width: 100%;
}
.userOrderFormDetails .detailsHeaderBg .detailsHeaderInfo .stateText {
  font-size: 16px;
}
[data-dpr="2"] .userOrderFormDetails .detailsHeaderBg .detailsHeaderInfo .stateText {
  font-size: 32px;
}
[data-dpr="2.5"] .userOrderFormDetails .detailsHeaderBg .detailsHeaderInfo .stateText {
  font-size: 40px;
}
[data-dpr="2.75"] .userOrderFormDetails .detailsHeaderBg .detailsHeaderInfo .stateText {
  font-size: 44px;
}
[data-dpr="3"] .userOrderFormDetails .detailsHeaderBg .detailsHeaderInfo .stateText {
  font-size: 48px;
}
[data-dpr="4"] .userOrderFormDetails .detailsHeaderBg .detailsHeaderInfo .stateText {
  font-size: 64px;
}
.userOrderFormDetails .detailsHeaderBg .detailsHeaderInfo .detailsHeaderText {
  font-size: 14px;
}
[data-dpr="2"] .userOrderFormDetails .detailsHeaderBg .detailsHeaderInfo .detailsHeaderText {
  font-size: 28px;
}
[data-dpr="2.5"] .userOrderFormDetails .detailsHeaderBg .detailsHeaderInfo .detailsHeaderText {
  font-size: 35px;
}
[data-dpr="2.75"] .userOrderFormDetails .detailsHeaderBg .detailsHeaderInfo .detailsHeaderText {
  font-size: 39px;
}
[data-dpr="3"] .userOrderFormDetails .detailsHeaderBg .detailsHeaderInfo .detailsHeaderText {
  font-size: 42px;
}
[data-dpr="4"] .userOrderFormDetails .detailsHeaderBg .detailsHeaderInfo .detailsHeaderText {
  font-size: 56px;
}
.userOrderFormDetails .detailsMain .detailsMainLogisticsIcon {
  width: 24px;
  height: 24px;
}
.userOrderFormDetails .detailsMain .detailsMainLogisticsIcon img {
  width: 100%;
}
.userOrderFormDetails .detailsMain .logisticsInfoRow {
  font-size: 12px;
}
[data-dpr="2"] .userOrderFormDetails .detailsMain .logisticsInfoRow {
  font-size: 24px;
}
[data-dpr="2.5"] .userOrderFormDetails .detailsMain .logisticsInfoRow {
  font-size: 30px;
}
[data-dpr="2.75"] .userOrderFormDetails .detailsMain .logisticsInfoRow {
  font-size: 33px;
}
[data-dpr="3"] .userOrderFormDetails .detailsMain .logisticsInfoRow {
  font-size: 36px;
}
[data-dpr="4"] .userOrderFormDetails .detailsMain .logisticsInfoRow {
  font-size: 48px;
}
.userOrderFormDetails .detailsMain .logisticsMoreIcon {
  margin-top: 4vw;
}
.userOrderFormDetails .detailsMain .detailsInfoPlaceOfReceipt {
  font-size: 12px;
}
[data-dpr="2"] .userOrderFormDetails .detailsMain .detailsInfoPlaceOfReceipt {
  font-size: 24px;
}
[data-dpr="2.5"] .userOrderFormDetails .detailsMain .detailsInfoPlaceOfReceipt {
  font-size: 30px;
}
[data-dpr="2.75"] .userOrderFormDetails .detailsMain .detailsInfoPlaceOfReceipt {
  font-size: 33px;
}
[data-dpr="3"] .userOrderFormDetails .detailsMain .detailsInfoPlaceOfReceipt {
  font-size: 36px;
}
[data-dpr="4"] .userOrderFormDetails .detailsMain .detailsInfoPlaceOfReceipt {
  font-size: 48px;
}
.userOrderFormDetails .detailsPaymentInfo .orderInfo .infoText {
  font-size: 14px;
}
[data-dpr="2"] .userOrderFormDetails .detailsPaymentInfo .orderInfo .infoText {
  font-size: 28px;
}
[data-dpr="2.5"] .userOrderFormDetails .detailsPaymentInfo .orderInfo .infoText {
  font-size: 35px;
}
[data-dpr="2.75"] .userOrderFormDetails .detailsPaymentInfo .orderInfo .infoText {
  font-size: 39px;
}
[data-dpr="3"] .userOrderFormDetails .detailsPaymentInfo .orderInfo .infoText {
  font-size: 42px;
}
[data-dpr="4"] .userOrderFormDetails .detailsPaymentInfo .orderInfo .infoText {
  font-size: 56px;
}
.userOrderFormDetails .detailsPaymentInfo .orderFormDeatilsBtn .el-button.is-round {
  padding: 8px 20px;
}
.logisticsListInfo .logisticsListInfoImg img {
  width: 100%;
}
.logisticsListInfo .logisticsTitle {
  font-size: 14px;
}
[data-dpr="2"] .logisticsListInfo .logisticsTitle {
  font-size: 28px;
}
[data-dpr="2.5"] .logisticsListInfo .logisticsTitle {
  font-size: 35px;
}
[data-dpr="2.75"] .logisticsListInfo .logisticsTitle {
  font-size: 39px;
}
[data-dpr="3"] .logisticsListInfo .logisticsTitle {
  font-size: 42px;
}
[data-dpr="4"] .logisticsListInfo .logisticsTitle {
  font-size: 56px;
}
.logisticsListInfo .el-timeline .el-timeline-item .el-timeline-item__node--normal {
  width: 10px;
  height: 10px;
  left: 0px;
}
.logisticsListInfo .el-timeline .el-timeline-item:first-child .el-timeline-item__node--normal {
  width: 14px;
  height: 14px;
  left: -2px;
}
.logisticsListInfo .el-timeline .el-timeline-item:first-child .title {
  color: #DAB62E;
}
.userPromotionCenter .advettImg img {
  width: 100%;
}
.userPromotionCenter .commissionTitle {
  font-size: 14px;
}
[data-dpr="2"] .userPromotionCenter .commissionTitle {
  font-size: 28px;
}
[data-dpr="2.5"] .userPromotionCenter .commissionTitle {
  font-size: 35px;
}
[data-dpr="2.75"] .userPromotionCenter .commissionTitle {
  font-size: 39px;
}
[data-dpr="3"] .userPromotionCenter .commissionTitle {
  font-size: 42px;
}
[data-dpr="4"] .userPromotionCenter .commissionTitle {
  font-size: 56px;
}
.userPromotionCenter .commissionPrice {
  font-size: 60px;
}
[data-dpr="2"] .userPromotionCenter .commissionPrice {
  font-size: 120px;
}
[data-dpr="2.5"] .userPromotionCenter .commissionPrice {
  font-size: 150px;
}
[data-dpr="2.75"] .userPromotionCenter .commissionPrice {
  font-size: 165px;
}
[data-dpr="3"] .userPromotionCenter .commissionPrice {
  font-size: 180px;
}
[data-dpr="4"] .userPromotionCenter .commissionPrice {
  font-size: 240px;
}
.userPromotionCenter .el-button {
  padding: 6px 14px;
  border: none;
}
.userPromotionCenter .commissionText {
  font-size: 13px;
}
[data-dpr="2"] .userPromotionCenter .commissionText {
  font-size: 26px;
}
[data-dpr="2.5"] .userPromotionCenter .commissionText {
  font-size: 33px;
}
[data-dpr="2.75"] .userPromotionCenter .commissionText {
  font-size: 36px;
}
[data-dpr="3"] .userPromotionCenter .commissionText {
  font-size: 39px;
}
[data-dpr="4"] .userPromotionCenter .commissionText {
  font-size: 52px;
}
.userPromotionCenter .accountsTitle {
  font-size: 18px;
}
[data-dpr="2"] .userPromotionCenter .accountsTitle {
  font-size: 36px;
}
[data-dpr="2.5"] .userPromotionCenter .accountsTitle {
  font-size: 45px;
}
[data-dpr="2.75"] .userPromotionCenter .accountsTitle {
  font-size: 50px;
}
[data-dpr="3"] .userPromotionCenter .accountsTitle {
  font-size: 54px;
}
[data-dpr="4"] .userPromotionCenter .accountsTitle {
  font-size: 72px;
}
.userPromotionCenter .accountsText {
  font-size: 13px;
}
[data-dpr="2"] .userPromotionCenter .accountsText {
  font-size: 26px;
}
[data-dpr="2.5"] .userPromotionCenter .accountsText {
  font-size: 33px;
}
[data-dpr="2.75"] .userPromotionCenter .accountsText {
  font-size: 36px;
}
[data-dpr="3"] .userPromotionCenter .accountsText {
  font-size: 39px;
}
[data-dpr="4"] .userPromotionCenter .accountsText {
  font-size: 52px;
}
.userPromotionCenter .accountsDate {
  font-size: 12px;
}
[data-dpr="2"] .userPromotionCenter .accountsDate {
  font-size: 24px;
}
[data-dpr="2.5"] .userPromotionCenter .accountsDate {
  font-size: 30px;
}
[data-dpr="2.75"] .userPromotionCenter .accountsDate {
  font-size: 33px;
}
[data-dpr="3"] .userPromotionCenter .accountsDate {
  font-size: 36px;
}
[data-dpr="4"] .userPromotionCenter .accountsDate {
  font-size: 48px;
}
.userPromotionCenter .accountsLevel {
  font-size: 12px;
}
[data-dpr="2"] .userPromotionCenter .accountsLevel {
  font-size: 24px;
}
[data-dpr="2.5"] .userPromotionCenter .accountsLevel {
  font-size: 30px;
}
[data-dpr="2.75"] .userPromotionCenter .accountsLevel {
  font-size: 33px;
}
[data-dpr="3"] .userPromotionCenter .accountsLevel {
  font-size: 36px;
}
[data-dpr="4"] .userPromotionCenter .accountsLevel {
  font-size: 48px;
}
.userExtensionAgentRow .headPortrait {
  width: 48px;
  height: 48px;
}
.userExtensionAgentRow .headPortrait img {
  width: 100%;
  border-radius: 50%;
}
.userWithdrawDepositRow .el-form-item {
  margin-bottom: 0;
}
.userWithdrawDepositRow .el-form-item__content {
  margin-left: 0;
}
.userWithdrawDepositRow .usableBalance {
  font-size: 13px;
}
[data-dpr="2"] .userWithdrawDepositRow .usableBalance {
  font-size: 26px;
}
[data-dpr="2.5"] .userWithdrawDepositRow .usableBalance {
  font-size: 33px;
}
[data-dpr="2.75"] .userWithdrawDepositRow .usableBalance {
  font-size: 36px;
}
[data-dpr="3"] .userWithdrawDepositRow .usableBalance {
  font-size: 39px;
}
[data-dpr="4"] .userWithdrawDepositRow .usableBalance {
  font-size: 52px;
}
.userWithdrawDepositRow .el-input__inner,
.userWithdrawDepositRow .el-input__inner:hover {
  border: none;
}
.userWithdrawDepositRow .subBtn {
  width: 100%;
}
.userWithdrawDepositRow .priceCharacter {
  font-size: 30px;
}
[data-dpr="2"] .userWithdrawDepositRow .priceCharacter {
  font-size: 60px;
}
[data-dpr="2.5"] .userWithdrawDepositRow .priceCharacter {
  font-size: 75px;
}
[data-dpr="2.75"] .userWithdrawDepositRow .priceCharacter {
  font-size: 83px;
}
[data-dpr="3"] .userWithdrawDepositRow .priceCharacter {
  font-size: 90px;
}
[data-dpr="4"] .userWithdrawDepositRow .priceCharacter {
  font-size: 120px;
}
.userWithdrawDepositRow input::-webkit-input-placeholder {
  color: #aab2bd;
  font-size: 20px;
}
[data-dpr="2"] .userWithdrawDepositRow input::-webkit-input-placeholder {
  font-size: 40px;
}
[data-dpr="2.5"] .userWithdrawDepositRow input::-webkit-input-placeholder {
  font-size: 50px;
}
[data-dpr="2.75"] .userWithdrawDepositRow input::-webkit-input-placeholder {
  font-size: 55px;
}
[data-dpr="3"] .userWithdrawDepositRow input::-webkit-input-placeholder {
  font-size: 60px;
}
[data-dpr="4"] .userWithdrawDepositRow input::-webkit-input-placeholder {
  font-size: 80px;
}
.userWithdrawDepositRow .el-input__inner {
  padding: 0;
  font-size: 30px;
}
[data-dpr="2"] .userWithdrawDepositRow .el-input__inner {
  font-size: 60px;
}
[data-dpr="2.5"] .userWithdrawDepositRow .el-input__inner {
  font-size: 75px;
}
[data-dpr="2.75"] .userWithdrawDepositRow .el-input__inner {
  font-size: 83px;
}
[data-dpr="3"] .userWithdrawDepositRow .el-input__inner {
  font-size: 90px;
}
[data-dpr="4"] .userWithdrawDepositRow .el-input__inner {
  font-size: 120px;
}
.userWithdrawDepositRow .promptText {
  font-size: 14px;
}
[data-dpr="2"] .userWithdrawDepositRow .promptText {
  font-size: 28px;
}
[data-dpr="2.5"] .userWithdrawDepositRow .promptText {
  font-size: 35px;
}
[data-dpr="2.75"] .userWithdrawDepositRow .promptText {
  font-size: 39px;
}
[data-dpr="3"] .userWithdrawDepositRow .promptText {
  font-size: 42px;
}
[data-dpr="4"] .userWithdrawDepositRow .promptText {
  font-size: 56px;
}
.addRow {
  border-top: 10px solid #f5f5f5;
}
.addRow .addInfo {
  border-bottom: 10px solid #f5f5f5;
}
.addRow .addInfo .name {
  font-size: 14px;
}
[data-dpr="2"] .addRow .addInfo .name {
  font-size: 28px;
}
[data-dpr="2.5"] .addRow .addInfo .name {
  font-size: 35px;
}
[data-dpr="2.75"] .addRow .addInfo .name {
  font-size: 39px;
}
[data-dpr="3"] .addRow .addInfo .name {
  font-size: 42px;
}
[data-dpr="4"] .addRow .addInfo .name {
  font-size: 56px;
}
.addRow .addInfo .phone {
  font-size: 14px;
}
[data-dpr="2"] .addRow .addInfo .phone {
  font-size: 28px;
}
[data-dpr="2.5"] .addRow .addInfo .phone {
  font-size: 35px;
}
[data-dpr="2.75"] .addRow .addInfo .phone {
  font-size: 39px;
}
[data-dpr="3"] .addRow .addInfo .phone {
  font-size: 42px;
}
[data-dpr="4"] .addRow .addInfo .phone {
  font-size: 56px;
}
.addRow .addInfo .defaultIcon {
  border-radius: 8px;
  margin-top: 8px;
  font-size: 8px;
}
[data-dpr="2"] .addRow .addInfo .defaultIcon {
  font-size: 16px;
}
[data-dpr="2.5"] .addRow .addInfo .defaultIcon {
  font-size: 20px;
}
[data-dpr="2.75"] .addRow .addInfo .defaultIcon {
  font-size: 22px;
}
[data-dpr="3"] .addRow .addInfo .defaultIcon {
  font-size: 24px;
}
[data-dpr="4"] .addRow .addInfo .defaultIcon {
  font-size: 32px;
}
.addRow .addInfo .site {
  font-size: 12px;
}
[data-dpr="2"] .addRow .addInfo .site {
  font-size: 24px;
}
[data-dpr="2.5"] .addRow .addInfo .site {
  font-size: 30px;
}
[data-dpr="2.75"] .addRow .addInfo .site {
  font-size: 33px;
}
[data-dpr="3"] .addRow .addInfo .site {
  font-size: 36px;
}
[data-dpr="4"] .addRow .addInfo .site {
  font-size: 48px;
}
.addRow .addInfo .addressTxt {
  border-bottom: 1px #E9E9E9 solid;
}
.addRow .addInfo .delteIcon {
  margin-top: 12px;
}
.addRow .addInfo .siteIcon {
  margin-top: -8px;
}
.addRow .addInfo:last-child {
  border: none;
  margin-bottom: 1vw;
}
.addRow .newBtn {
  position: fixed;
  bottom: 10px;
}
.addRow .newBtn .el-button {
  width: 100%;
}
.newAddRow .el-input__inner {
  border: none;
  border-bottom: 1px solid #E9E9E9;
  font-size: 12px;
  color: #333;
}
[data-dpr="2"] .newAddRow .el-input__inner {
  font-size: 24px;
}
[data-dpr="2.5"] .newAddRow .el-input__inner {
  font-size: 30px;
}
[data-dpr="2.75"] .newAddRow .el-input__inner {
  font-size: 33px;
}
[data-dpr="3"] .newAddRow .el-input__inner {
  font-size: 36px;
}
[data-dpr="4"] .newAddRow .el-input__inner {
  font-size: 48px;
}
.newAddRow .el-textarea__inner {
  border: none;
  border-bottom: 1px solid #E9E9E9;
  font-size: 12px;
  color: #333;
  resize: none;
}
[data-dpr="2"] .newAddRow .el-textarea__inner {
  font-size: 24px;
}
[data-dpr="2.5"] .newAddRow .el-textarea__inner {
  font-size: 30px;
}
[data-dpr="2.75"] .newAddRow .el-textarea__inner {
  font-size: 33px;
}
[data-dpr="3"] .newAddRow .el-textarea__inner {
  font-size: 36px;
}
[data-dpr="4"] .newAddRow .el-textarea__inner {
  font-size: 48px;
}
.newAddRow ::-webkit-input-placeholder {
  color: #999;
  font-size: 12px;
}
[data-dpr="2"] .newAddRow ::-webkit-input-placeholder {
  font-size: 24px;
}
[data-dpr="2.5"] .newAddRow ::-webkit-input-placeholder {
  font-size: 30px;
}
[data-dpr="2.75"] .newAddRow ::-webkit-input-placeholder {
  font-size: 33px;
}
[data-dpr="3"] .newAddRow ::-webkit-input-placeholder {
  font-size: 36px;
}
[data-dpr="4"] .newAddRow ::-webkit-input-placeholder {
  font-size: 48px;
}
.newAddRow .saveBtn {
  position: fixed;
  bottom: 10px;
}
.newAddRow .saveBtn .el-button {
  width: 100%;
}
.userCoupon .couponRow img {
  width: 100%;
  border-radius: 8px;
  height: 162px;
}
.couponDetails .couponTitle {
  font-size: 20px;
}
[data-dpr="2"] .couponDetails .couponTitle {
  font-size: 40px;
}
[data-dpr="2.5"] .couponDetails .couponTitle {
  font-size: 50px;
}
[data-dpr="2.75"] .couponDetails .couponTitle {
  font-size: 55px;
}
[data-dpr="3"] .couponDetails .couponTitle {
  font-size: 60px;
}
[data-dpr="4"] .couponDetails .couponTitle {
  font-size: 80px;
}
.couponDetails .couponInformation {
  font-size: 14px;
}
[data-dpr="2"] .couponDetails .couponInformation {
  font-size: 28px;
}
[data-dpr="2.5"] .couponDetails .couponInformation {
  font-size: 35px;
}
[data-dpr="2.75"] .couponDetails .couponInformation {
  font-size: 39px;
}
[data-dpr="3"] .couponDetails .couponInformation {
  font-size: 42px;
}
[data-dpr="4"] .couponDetails .couponInformation {
  font-size: 56px;
}
.couponDetails .videoUrl {
  width: 100%;
}
