@import "../../assets/fz.less";
.strategy{
    .Period1{
        color: #313131;
        .fz(font-size, 30);
        
    }
    .Period2{
        .fz(font-size, 34);
        font-weight: bold;
        color: #313131;
    }.Periodimg{
        width: 100%;
        border-radius: 4px;
    }
    .PeriodVd{
        border-radius: 4px;
    }
    .listTittle{
        .fz(font-size, 30);
        font-weight: bold;
        color: #313131;
    }
    .price{
        font-weight: bold;
        padding-left: 5px;
    }.buy{
        background-color: #D84F48;
        float: right;
        border-radius: 9px;
        color: #FFFFFF;
        .fz(font-size, 18);
        padding: 0 3vw;
        margin-right: 10px;
    }
}
.details{
    .swimg{
        width: 100%;
    }
    .swiper-pagination{
        color: #fff;
       
    }
    .swiper-pagination-fraction{
        left: 35%;
    }.deimg{
        width: 20%;
    }.detxt{
        clear: left;
        color:#949494;
        .fz(font-size, 26);
    }.detittle{
        color: #313131;
        .fz(font-size, 30);
        font-weight: bold;

    }.deParagraph{
        color: #313131;
        .fz(font-size, 36);
        
    }.deText{
        .fz(font-size, 30);
        color: #313131;
    }.Focus{
        width: 100%;
       
    }
}
.videos{
    .deVideos{
        width: 99%;
       
    }
}