@import "../../assets/fz.less";
.strategy{
    .Period1{
        color: #313131;
        .fz(font-size, 30);
        
    }
    .Period2{
        .fz(font-size, 34);
        font-weight: bold;
        color: #313131;
    }.Periodimg{
        width: 100%;
        border-radius: 4px;
    }
    .PeriodVd{
        border-radius: 4px;
    }
    .listTittle{
        .fz(font-size, 30);
        font-weight: bold;
        color: #313131;
    }
    .price{
        font-weight: bold;
        padding-left: 5px;
    }.buy{
        background-color: #D84F48;
        float: right;
        border-radius: 9px;
        color: #FFFFFF;
        .fz(font-size, 18);
        padding: 0 3vw;
        margin-right: 10px;
    }
}
.details{
    .swimg{
        width: 100%;
    }
    .swiper-pagination{
        color: #fff;
       
    }
    .swiper-pagination-fraction{
        left: 35%;
    }.deimg{
        width: 20%;
    }.detxt{
        clear: left;
        color:#949494;
        .fz(font-size, 26);
    }.detittle{
        color: #313131;
        .fz(font-size, 30);
        font-weight: bold;
        

    }.deParagraph{
        color: #313131;
        .fz(font-size, 36);
        
    }.deText{
        .fz(font-size, 30);
        color: #313131;
    }.Focus{
        width: 100%;
       
    }
    .copy{
        position: relative;
    }
    .MenuLike {
        display: block;
        width: 10%;
        position:absolute;
        right: 0;
        top: 0;
        z-index: 99;
    }
}
.videos{
    .deVideos{
        width: 100%;
       
    }
    .copyVideo{
        position: absolute;
        bottom: 120px;
        left: 10px;
        color: #fff;
    }
    .MenuLike {
        display: block;
        width: 10%;
        position:absolute;
        right: 10px;
        bottom: 80px;
        z-index: 99;
    }.deimg{
        width: 20%;
    }.detxt{
        clear: left;
        color:#ffffff;
        .fz(font-size, 26);
    }.detittle{
        color: #fff;
        .fz(font-size, 30);
        font-weight: bold;
        

    }.deText{
        .fz(font-size, 30);
        color: #fff;
    }
}
.book{
    .bookimg{
        width: 100%;
        
    }.likePo{
        position: relative;
    }
    .bookTittle{
        color: #313131;
        .fz(font-size, 44);
        text-align: center;
    }.bookTxt{
        color: #ADAEAF;
        .fz(font-size, 32);

    }.bookDetails{
        color: #545454;
        .fz(font-size, 32);
        padding: 4vw;
    }.bookPortrait img{
        width: 100%;
    }.bookPhotoTxt{
        color: #313131;
        .fz(font-size, 32);
    }.bookNav{
        border-top: #E9E9E9 solid 1px;
        padding-top: 4vw;
    }.ptbg{
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 32px 32px 0 32px;
        border-color: red transparent ;
        position: absolute;
        left: -6vw;
        top:  -1vw;
        transform:rotate(135deg);
       
      }.ptAttribute{
        .fz(font-size, 22);
        
        position: absolute;
        left: 1vw;
        top: 2vw;
        color: #fff;
        transform:rotate(-45deg);
      
      }
}.Like {
    display: block;
    width: 10%;
    position:absolute;
    right: 10px;
    bottom: 0;
    z-index: 99;
}
.share{
    .el-textarea__inner{
        border-bottom: #E9E9E9 solid 1px;
    }
    
}
.release{
    width: 94%;
   position: absolute;
   bottom: 18px;
   left: 3%;
   background-color: #DAB62E;
   .fz(font-size, 32);
    
}.Release{
    .bgRelease{
        background-color: #F7F7F7;
    }.el-upload--picture-card {
        background-color: #F7F7F7;
        border: 0;
        box-sizing: border-box;
        width: 100%;
        height: 130px;
        line-height: 130px;
        vertical-align: top;
    }.el-upload--picture-card i {
        .fz(font-size, 32);
        color: #545454;
    }.el-input__inner,.el-textarea__inner{
        border: 0;
        color: #B3B3B3;
        .fz(font-size, 24);
    }
}.upload{
    .bgRelease{
        background-color: #F7F7F7;
    }.el-upload--picture-card {
        background-color: #F7F7F7;
        border: 0;
        box-sizing: border-box;
        width: 100%;
        height: 130px;
        line-height: 130px;
        vertical-align: top;
    }.el-upload--picture-card i {
        .fz(font-size, 32);
        color: #B3B3B3;
    }.el-input__inner,.el-textarea__inner{
        border: 0;
        color: #B3B3B3;
        .fz(font-size, 24);
    }.el-form-item__label{
        padding: 0;
        line-height: 40px;
        text-align: center;
        color: #B3B3B3;
    }.el-form-item{
        padding-bottom: 12px;
        margin: 0;
        
    }.size .el-form-item__label{
        .fz(font-size, 26);
    } .el-input__inner {
        border-bottom: 1px solid #E9E9E9;
    }.size .el-input{
        margin-bottom: 10px;
    }.sizes{
        border-bottom: 1px solid #E9E9E9;
    }.size .el-input__inner{
        background-color: #F4F4F4;
        height: 30px;
      border: 0;
    }.release{
       width: 94%;
       position: fixed;
       bottom: 18px;
       left: 3%;
       background-color: #DAB62E;
       .fz(font-size, 32);  
    }.size .el-form-item__content{
        line-height: 30px;
    }.messageTexts{
        width: 100%;
    }.material .el-input__inner{
        background-color: #F4F4F4;
    }
}