@import "../../assets/fz.less";
 .el-tabs__nav-wrap::after{
    background-color: transparent;
}

.el-tabs__nav {
    
    margin-left: 32%;
   
}
.el-tabs__active-bar{
    background-color: #D9B53D;
    width: 22px;
    height: 2px;
}
.el-tabs__item{
    .fz(font-size, 34);
    color: #313131;
}
.menuHeader{
    width: 40px;

}

.cl{
    clear: left;
}
.menuHead-txt{
    .fz(font-size, 26);
    color: #D9B53D;
    margin-left: 5px;
   
}
.menuHead-smalltxt{
    .fz(font-size, 22);
    color: #949494;
    margin-top: 10px;
    
}
.el-main{
    padding: 0;
}
.smalltxt-p{
    .fz(font-size, 28);
    color: #313131;
    margin-top: 14px;
    font-weight: bold;

}
.smalltxt-div{
    .fz(font-size, 24);
    color: #545454;
    padding-top: 9px;
    margin-left: 45px;
    overflow: hidden;
   
}

.tc{
    text-align: center;
}
.smallimg img{
 width: 100%;
 border-radius: 4px;
}
.smallimg{
    margin-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #E9E9E9;
}
.mg{
    margin-top: 10px;
}
.menu-video{
    border-radius:5px;
    width: 100%;
}
.emptyFOOT{
    height: 70px;
}.menu-strategy{
    .fz(font-size, 30);
    color: #313131;
    font-weight: bold;
}.menu-strategy-small{
    color: #545454;
    .fz(font-size, 24);
    margin-top: 14px;
}
.menu-strategy-img img{
    width: 100%;
    border-radius: 4px;
}.menu-strategy-time{
    color: #ADAEAF;
    .fz(font-size, 24);
    margin-top: 21px;
}.menuStrategy{
    margin-top: 15px;
}
.tittle{
    .fz(font-size, 34);
    font-weight: bold;
    color: #313131;
}
