@import "../../assets/fz.less";
.menuTime{
  // position: absolute;
  // bottom: 10px;
  position: absolute;
  bottom: 5px;
  .fz(font-size, 24);
  color: #ADAEAF;
}
.menuHead-smtxt {
  margin-left: 45px;
  .fz(font-size, 22);
  color: #949494;
  margin-top: -20px;
  text-overflow: ellipsis;
}
.smalltxt-p {
  .fz(font-size, 28);
  color: #313131;
  font-weight: bold;
  margin-left: 45px;
}
.el-tabs__nav-wrap::after {
  background-color: transparent;
}
.omit{
  text-overflow: ellipsis;
}
.el-tabs__nav {
  margin-left: 32%;
}

.el-tabs__active-bar {
  background-color: #D9B53D;
  width: 22px;
  height: 2px;
}

.el-tabs__item {
  .fz(font-size, 34);
  color: #313131;
}

.menuHeader {
  width: 40px;
}

.cl {
  clear: left;
}

.menuHead-txt {
  .fz(font-size, 26);
  color: #D9B53D;
  margin-left: 5px;
}

.menuHead-smalltxt {
  .fz(font-size, 22);
  color: #949494;
  margin-top: 10px;
}

.el-main {
  padding: 0;
}

.smalltxt-p {
  .fz(font-size, 28);
  color: #313131;
  margin-top: 14px;
  font-weight: bold;
}

.smalltxt-div {
  .fz(font-size, 24);
  color: #545454;
  padding-top: 9px;
  margin-left: 45px;
  overflow: hidden;
}

.tc {
  text-align: center;
}

.smallimg img {
  width: 100%;
  border-radius: 4px;
}

.smallimg {
  margin-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #E9E9E9;
}

.mg {
  margin-top: 10px;
}

.menu-video {
  border-radius: 5px;
  width: 100%;
}

.el-tabs__item {
  .fz(font-size, 34);
  color: #313131;
}

.menuHeader {
  width: 40px;
}

.cl {
  clear: left;
}

.menuHead-txt {
  .fz(font-size, 26);
  color: #D9B53D;
  margin-left: 5px;
}

.menuHead-smalltxt {
  .fz(font-size, 22);
  color: #949494;
  margin-top: 10px;
}

.el-main {
  padding: 0;
}

.smalltxt-div {
  .fz(font-size, 24);
  color: #545454;
  padding-top: 9px;
  margin-left: 45px;
  overflow: hidden;
}

.tc {
  text-align: center;
}

.smallimg img {
  width: 100%;
  border-radius: 4px;
}

.smallimg {
  margin-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #E9E9E9;
  margin-bottom: 10px;
}

.mg {
  margin-top: 10px;
}

.menu-video {
  border-radius: 5px;
  width: 100%;

}

.emptyFOOT {
  height: 70px;
}

.menu-strategy {
  .fz(font-size, 30);
  color: #313131;
  font-weight: bold;
}

.menu-strategy-small {
  color: #545454;
  .fz(font-size, 24);
  margin-top: 14px;
  margin-bottom: 15px;
}

.menu-strategy-img img {
  width: 100%;
  border-radius: 4px;
}

.menu-strategy-time {
  color: #ADAEAF;
  .fz(font-size, 24);
  margin-top: 21px;
}

.menuStrategy {
  margin-top: 15px;
}

.tittle {
  .fz(font-size, 34);
  color: #313131;
}

.menuShunPrincess {
  width: 100%;

  .shunPrincessAdvertising {
    img {
      width: 100%
    }
  }

  .ShunPrincessRow {
    img {
      width: 100%;
    }
  }

  .maskHeaderTitle {
    .fz(font-size, 36);
  }

  .listRome {
    position: absolute;
    height: 6vw;
    line-height: 6vw;
    top: 4vw;
    right: 0;
    .fz(font-size, 26);
  }

  .shunPrincessProductTitle {
    .fz(font-size, 26);
  }

  .shunPrincessProductPrice {
    .fz(font-size, 26);
  }

  .pd {
    padding-right: 10%;
  }
 
  .menu-time {
    .fz(font-size, 24);
    color: #ADAEAF;
    display: block;
    margin-top: 15%;
  }

 

  .el-tabs--left .el-tabs__active-bar.is-left {
    right: auto;
    left: 0;
  }

  .el-tabs__item {
    .fz(font-size, 26);
    color: #313131;
    height: 50px;
    line-height: 50px;
  }

  .el-tabs__item:hover {
    // color: #DAB62E;
    cursor: pointer;
    // background-color: #fff;
    color: white;
  }

  .tradingtab-adiv {
    background-color: #DAB62E;
    border-radius: 3px;
  }

  .tradingtab-adiv img,
  .tradingtab-icon img {
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
  }

 
}
.PaintingNav{
  padding: 2vw 0;
  POSITION: relative;
}
.flbtn{
  width: 127px;
  height: 44px;
  background: #DAB62E;
  position:fixed;
  right: 15px;
  top:500px;
  z-index: 99;
  border-radius: 25px;
  line-height: 44px;
  text-align: center;
  .fz(font-size, 34);
  color: #fff;
}.flbtn img{
  width: 24px;
  line-height: 44px;
}
.PaintingNav{
  .PtImg{
    width: 100%;
  }
  .ptText{
    .fz(font-size, 30);
    color: #313131;
    font-weight: bold;
    padding-left: 15px;
  }
  .ptTxt{
    .fz(font-size, 24);
    padding-left: 22px;
    color: #545454;
   
  }
  .ptbg{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 32px 32px 0 32px;
    border-color: red transparent ;
    position: absolute;
    left: -6vw;
    top: 1vw;
    transform:rotate(135deg);
   
  }
  .ptAttribute{
    .fz(font-size, 22);
    
    position: absolute;
    left: 0vw;
    top: 3vw;
    color: #fff;
    transform:rotate(-45deg);
    
   
  }
 
}.greenFood{
  .el-tabs__header {
    margin: 0;
  }
  
 
    .el-tabs__nav {
      width: 100%;
      margin-left: 0%;
      overflow: hidden;
      background-color: #77C891;
    }
  
    .el-tabs__item {
      .fz(font-size, 28);
      width: 16.6%;
      padding: 0;
      text-align: center;
      color: #f2f2f2;
    }
  
    .el-tabs--top .el-tabs__item.is-top:nth-child(2) {
      width: 16.6%;
    }
  
    .el-tabs__active-bar {
      display: none;
    }
  
    .el-tabs__item.is-active {
      color: #f2f2f2;
      background-image: url("../../../static/testImg/smallDot.png");
      background-repeat: no-repeat;
      background-position: 130% -10%;
    }
  
    .is-active {
      .fz(font-size, 36);
      font-weight: 600;
    }
  
    .el-tabs__content {
      background-color: #ffffff;
    }
  
    .ShunPrincessRow {
      // border: 4px solid #94BCDC;
    }
  
    .rows {
      border: 4px solid #77C891;
    }
  
    .greenFood.el-tabs__item:hover {
      .fz(font-size, 36);
      background-color: transparent;
      color: white;
    }
  
     .el-tabs__item {
      color: white;
    }
  
    .tabMore {
      width: 50px;
      position: absolute;
      z-index: 1000;
      right: 0;
      margin-top: 18px;
      color: #f2f2f2;
      background-color: #77C891;
    }
  
    .el-dialog {
      position: fixed;
      right: 0;
      height: 100%;
    }
   .bgCBlue {
      background-color: #77C891;
  }
  
}.habai{
  .el-tabs__header {
    margin: 0;
  }
  
  
    .el-tabs__nav {
      width: 100%;
      margin-left: 0%;
      overflow: hidden;
      background-color: #E6B975;
    }
  
    .el-tabs__item {
      .fz(font-size, 28);
      width: 16.6%;
      padding: 0;
      text-align: center;
      color: #f2f2f2;
    }
  
    .el-tabs--top .el-tabs__item.is-top:nth-child(2) {
      width: 16.6%;
    }
  
    .el-tabs__active-bar {
      display: none;
    }
  
    .el-tabs__item.is-active {
      color: #f2f2f2;
      background-image: url("../../../static/testImg/smallDot.png");
      background-repeat: no-repeat;
      background-position: 130% -10%;
    }
  
    .is-active {
      .fz(font-size, 36);
      font-weight: 600;
    }
  
    .el-tabs__content {
      background-color: #ffffff;
    }
  
    .ShunPrincessRow {
      // border: 4px solid #94BCDC;
    }
  
    .rows {
      border: 4px solid #E6B975;
    }
  
     .el-tabs__item:hover {
      .fz(font-size, 36);
      background-color: transparent;
      color: white;
    }
  
  .el-tabs__item {
      color: white;
    }
    .tabMore {
      width: 50px;
      position: absolute;
      z-index: 1000;
      right: 0;
      margin-top: 18px;
      color: #f2f2f2;
      background-color: #E6B975;
    }
  
    .el-dialog {
      position: fixed;
      right: 0;
      height: 100%;
    }.bgCBlue {
      background-color: #E6B975;
  }
  
}.mianMo{
  .el-tabs__header {
    margin: 0;
  }
  
  
    .el-tabs__nav {
      width: 100%;
      margin-left: 0%;
      overflow: hidden;
      background-color: #94bcdc;
    }
  
    .el-tabs__item {
      .fz(font-size, 28);
      width: 16.6%;
      padding: 0;
      text-align: center;
      color: #f2f2f2;
    }
  
    .el-tabs--top .el-tabs__item.is-top:nth-child(2) {
      width: 16.6%;
    }
  
    .el-tabs__active-bar {
      display: none;
    }
  
    .el-tabs__item.is-active {
      color: #f2f2f2;
      background-image: url("../../../static/testImg/smallDot.png");
      background-repeat: no-repeat;
      background-position: 130% -10%;
    }
  
    .is-active {
      .fz(font-size, 36);
      font-weight: 600;
    }
  
    .el-tabs__content {
      background-color: #ffffff;
    }
  
    .ShunPrincessRow {
      // border: 4px solid #94BCDC;
    }
  
    .rows {
      border: 4px solid #94bcdc;
    }
  
  .el-tabs__item:hover {
      .fz(font-size, 36);
      background-color: transparent;
      color: white;
    }
  
     .el-tabs__item {
      color: white;
    }
  
    .tabMore {
      width: 50px;
      position: absolute;
      z-index: 1000;
      right: 0;
      margin-top: 18px;
      color: #f2f2f2;
      background-color: #94bcdc;
    }
  
    .el-dialog {
      position: fixed;
      right: 0;
      height: 100%;
    }.bgCBlue {
        background-color: #94bcdc;
    }
  

}
