@import "../assets/fz.less";

.mint-header {
  padding: 6.8vw 4.8vw;
  background-color: #fff;
  color: #333 !important;
  .fz(font-size, 33) !important;
}

.el-header {
  padding: 6vw 4vw;
  background-color: #fff;
  color: #333 !important;
  .fz(font-size, 33) !important;
  text-align: center;
}

.tittle {
  position: relative;

  .back {
    position: absolute;
    .fz(font-size, 40);
  }
}.undergraduateBusinesRow {
  .fz(font-size, 28);
  
    img {
      width: 100%;
    }
  
  .joinIn {
    width: 100%;
  }
}
